__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
.DS_Store
*.log
uploads/*
processed/*
ocr_results/*
attribute_results/*
reports/*
logs/*
!uploads/.gitkeep
!processed/.gitkeep
!ocr_results/.gitkeep
!attribute_results/.gitkeep
!reports/.gitkeep
!logs/.gitkeep
